dist
node_modules
.yarn
build
.vscode
coverage
.docusaurus
.github/CODE_OF_CONDUCT.md
.github/SECURITY.md
lqip-loader/lib/
docusaurus/lib/
docusaurus-*/lib/*
docusaurus-*/lib-next/
create-docusaurus/lib/*
create-docusaurus/templates/*/docusaurus.config.js
stylelint-copyright/lib
__fixtures__

versions.json
versioned_sidebars/*.json

examples/
static/katex/katex.min.css
pnpm-lock.yaml
