node_modules
dist
.yarn
build
.vscode
coverage
src/workers/drafts/*
.docusaurus
.github/CODE_OF_CONDUCT.md
.github/SECURITY.md
lqip-loader/lib/
docusaurus/lib/
docusaurus-*/lib/*
docusaurus-*/lib-next/
create-docusaurus/lib/*
create-docusaurus/templates/*/docusaurus.config.js
src/components/APITable/index.tsx
src/components/FeaturesList/index.tsx
src/pages/index.tsx
stylelint-copyright/lib
__fixtures__
versions.json
versioned_sidebars/*.json
examples/
static/katex/katex.min.css
src/workers/**
functions/**
.github/CODE_OF_CONDUCT.md
pnpm-lock.yaml
.stylelintrc.jsons
