dist
node_modules
.yarn
build
.vscode
coverage
.docusaurus
lqip-loader/lib/
docusaurus/lib/
docusaurus-*/lib/*
docusaurus-*/lib-next/
create-docusaurus/lib/*
create-docusaurus/templates/*/docusaurus.config.js
stylelint-copyright/lib
__fixtures__

i18n
versions.json
docusaurus.config.js
versioned_sidebars/*.json

examples/
static/katex/katex.min.css
pnpm-lock.yaml
