.footer--dark {
  --ifm-footer-background-color: #161B22;
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--ifm-color-secondary);
  --ifm-footer-title-color: var(--ifm-color-white);
}

.footer--dark a[href] {
	color: #1e8ad6;
}

.footer--dark a[href]:hover {
	color: #3ba0e6;
}
